<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello World</p>

    {% if param1 %}
        {% for i, j in param1 %}
            <p>Factorial of {{ j }} is {{ i }}</p>
        {% endfor %}
    {% endif %}

    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}

        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}

        <button type="submit">Submit</button>
    </form>
</body>
</html>
